#BrandName{
  padding-left: 15px;
  padding-right: 25px;
  padding-top: 12px;
  text-align: center;
  color: lightblack;
  font-size: 20px;
  font-weight:350;
}
#main_jumbotron{
  background-color: white;

}
